.skill_header
  = 'Выберите необходимые умения из списка доступных:'
= f.collection_check_boxes(:skill_ids, Skill.all, :id, :name) do |skill|
  = skill.label do
    .skill
      = skill.text
      = skill.check_box
  %br
.new_skill
  = f.fields_for :skills do |a|
    = render "shared/skill_fields", f: a

  .choose
    = link_to_add_association 'Или добавьте новое', f, :skills, :partial => 'shared/skill_fields'